@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Spirax&display=swap');

.home{
    min-height: calc(100vh - 80px);
    background: linear-gradient(45deg, black, transparent);
    display: flex;
    align-items: center;
}

.home > div{
    /* width: 90%; */
    padding: 10px;
    /* max-width: 800px; */
    margin: auto;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.randomQuote{
    /* width: fit-content; */
    font-family: 'Spirax', cursive;
    margin: 50px auto;
    padding: 10px;
    background: #48485f;
    border-radius: 13px;
    box-shadow: 5px 7px 9px 0px black;
    color: white;
    max-width: 500px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.randomQuote div:first-child{
    font-size: 50px;
    margin: 15px 0px;
}

.randomQuote h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.randomQuote div span{
    color: red;
    position: relative;
    font-size: 30px;
}

.randomQuote div span{
    top: -20px;
}