.allQuotes{
    /* background-color: beige; */
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.allQuotes > div{
    padding: 10px;
}

.icons{
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}
